/* Sticky footer styles
-------------------------------------------------- */
html {
		position: relative;
		min-height: 100%;
}
body {
		/* Margin bottom by footer height */
		margin-bottom: 80px;
}
.footer {
		position: absolute;
		bottom: 0;
		width: 100%;
		/* Set the fixed height of the footer here */
		height: 60px;
		background-color: #f5f5f5;
		border-top: solid 1px #e7e7e7;
}