.loadingData {
	padding: 10px;
	min-height: 200px;
	margin-top: 120px;
}
.loadingMessage {
	font-size: 20px;
	margin-left: 10px;
	position: relative;
	top: -5px;
}

/* sizes */
.glyphicon.loadingSpinner.large { font-size: 30px; }

/* animate spinner */
.glyphicon-refresh-animate {
	-webkit-animation: spin 1000ms infinite linear;
	animation: spin 1000ms infinite linear;
}
@-webkit-keyframes spin {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(359deg);
		transform: rotate(359deg);
	}
}
@keyframes spin {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(359deg);
		transform: rotate(359deg);
	}
}