$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

@import "loadingData.scss";

.storiesContainer { position: relative; }
.story {
	display: inline-block;
	background: #f2f2f2;
	padding: 5px;
	margin: 5px;
	width: calc(13% - 20px);
	font-size: 13px;
	color: #333333;
	text-align: left;

	&:hover {
		cursor: pointer;
	}
}

.story:hover,
.story.active {
	background: #ffcc99;
}

.score { margin-bottom: 10px; }

.title,
.by,
.text {
	width: 100%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.title { font-weight: bold; }
.by { color: #8c8c8c; }
.text {
	margin-top: 20px;
	min-height: 20px;
}

.story.active {
	.title,
	.by,
	.text {
		width: auto;
		white-space: normal;
		overflow: auto;
		text-overflow: inherit;
	}
}
.story.active .text { height: 100px; }

@import "footer.scss";