<div class="row text-center storiesContainer">
	<div class="loadingData" ng-show="mainCtrl.loadingData">
		<span class="glyphicon loadingSpinner large glyphicon-refresh glyphicon-refresh-animate"></span>
		<span class="loadingMessage">Loading stories... Please wait</span>
	</div>

	<div class="story" ng-repeat="story in mainCtrl.stories" ng-hide="mainCtrl.loadingData" data-index="{{$index}}" story-opener>
		<div class="score">
			Score
			<span class="badge">{{ story.score }}</span>
		</div>
		<div class="content">
			<div class="title">{{ story.title }}</div>
			<div class="by">{{ story.by }}</div>
			<div class="text">{{ story.text }}</div>
		</div>
	</div>
</div>